body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(172, 180, 189);
}

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 1;
}

.navbar-toggler {
    border: none;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav a {
    font-weight: bold;
}

.navbar i {
    color: azure;
}

/* Alert Message */

.alert-container {
    padding-left: 0;
    padding-right: 0;
}

.alert-warning {
    border-radius: 0;
    margin: 0;
    text-align: center;
    background-color: rgb(219, 171, 40);
    color: white;
    border: none;
}

.alert-warning a {
    color: rgb(179, 68, 28);;
}

/* Callout section */

.callout-container {
    height: 100vh;
    background: url(../images/whiskey-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: rgba(172, 180, 189, 0.25);
    border-radius: 50px;
    margin-top: -200px;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

s {
    color:orangered;
}

mark {
    border-radius: 3px;
}

small {
    color: rgb(179, 68, 28);
}

.quotes-container {}

.features-container {}

.sign-up-container {}

/* buttons */

.btn {
    background-color: rgb(180, 132, 0);
    border: 3px solid rgb(204, 156, 23);
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn:hover {
    background-color: rgb(204, 156, 23);
    border: 3px solid rgb(180, 132, 0);
}